@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
 * {
  font-family: 'Roboto', sans-serif;
}

.loader {
  border-top-color: #B4E462;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* :root {
  --color-gray: #606060;
  --color-green-dark: #518119;
  --color-green-medium: #61991E;
  --color-light-green: #B4E462;
  --color-yellow: #F0E923;
  --color-white: #FFFFFF;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.contenedor {
  width: 800px;
  height: auto;
}

.content {
  display: flex;
  padding: 10px;
}

.table {
  display: table;
  width: 100%;
  padding: 5px 10px;
}

.theader {
  display: table-header-group;
  font-weight: bold;
  background-color: rgb(242, 242, 242);
  padding: 20px 20px;
  font-size: 18px;
}

.tbody {
  display: table-row-group;
  font-size: 14px;
}

.row {
  display: table-row;
}

.col {
  display: table-cell;
  width: 100%;
  padding: 5px;
}

.key {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.value {
  padding: 0 10px;
  text-align: right;
}

.badge {
  background: rgb(165, 209, 91);
  width: 10px;
  padding: 0 5px;
  height: 15px;
  box-shadow: 0 0 1px #989696;
  margin-top: 7px;
}

div.slides {
  position: flex;
  width: 90em;
  height: 50em;
}

div.grupo {
  position: relative;
  min-width: 32em;
  width: 32em;
  min-height: 9.5em;
  height: 9.5em;
  border-radius: 200px;
  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.5);
}

img.vector {
position: absolute;
left: 8.16%;
top: 30%;
height: 3em;
color: var(--color-white);
}

div.hh {
  position: absolute;
  left: 35%;
  top: 20%;
  font-weight: 900;
  font-size: 72px;
  line-height: 84px;
  align-items: center;
  text-shadow: 5px 5px gray;
}

.light-green {
  color: var(--color-light-green);
}

.white {
  color: var(--color-white);
}

.title {
  position: absolute;
  left: 70px;
  top: 53px;
  font-weight: 900;
  font-size: 64px;
  color: var(--color-gray)
}

.subtitle {
  position: absolute;
  left: 70px;
  top: 128px;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color: gray;
}

.real {
  position: relative;
  width: 513px;
  height: 154px;
  left: 70px;
  top: 264px;

}
.mini {
  position: absolute;
  width: 232px;
  height: 75px;
  left: 630px;
  top: 304px;
} */